<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IInterfacePublicacao" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" sendTimeout="1:00:00" closeTimeout="1:00:00"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:51075/InterfacePublicacao.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInterfacePublicacao"
                contract="ServiceReference1.IInterfacePublicacao" name="BasicHttpBinding_IInterfacePublicacao" />
        </client>
    </system.serviceModel>
</configuration>